# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit galaxycashd.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/galaxycash/galaxycash.conf

[Unit]
Description=Bitcoin daemon
After=network.target

[Service]
ExecStart=/usr/bin/galaxycashd -daemon -conf=/etc/galaxycash/galaxycash.conf -pid=/run/galaxycashd/galaxycashd.pid
# Creates /run/galaxycashd owned by bitcoin
RuntimeDirectory=galaxycashd
User=galaxycash
Type=forking
PIDFile=/run/galaxycashd/galaxycashd.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
